<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4">Cómic App</h1>
    <br>
    <h2 class="lead">Esta es una aplicacion de comics (Componente Home) </h2>
    <p>Está es una aplicacion que muestra algunos heroes con ayuda de angular.
        Se puede utilizar el buscador para poder encontrar algún héroe disponoble
        la data de la aplicación.
    </p>
    <hr class="my-4">
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>
