<!-- Componente padre de las tarjetas de heroe -->
<div class="card animated fadeIn fast" >
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
    <h5 class="card-title">{{ heroe.nombre }}</h5>
    <p class="card-text">{{ heroe.bio }}</p>
    <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
    </div>
    <!-- Forma de redireccionar al usuario mediante un boton y evento click.
         -->
    <button (click)="verHeroe()" class="btn btn-outline-primary btn-block">
        Leer más...
    </button>

   
</div>

